---
import experiences from "@/assets/experiences.json";
import projects from "@/assets/projects.json";
import PageLayout from "@/layouts/layout.astro";
import { Badge } from "@repo/ui/components/badge";
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from "@repo/ui/components/card";
import Link from "@repo/ui/components/link";
import RevealSection from "@repo/ui/components/reveal-section";
import SectionHeader from "@repo/ui/components/section-header";
import SocialLinks from "@repo/ui/components/social-links";
import { ChevronDown, Github } from "lucide-react";
---

<PageLayout title="Corbin Murray | Software Engineer">
	<RevealSection client:visible className="min-h-[calc(100vh-10rem)]">
		<SectionHeader client:visible title="Welcome to my digital garden" punctuation="!" />

		<article>
			<p>
				Hi, <span class="animate-waving-hand">👋</span> I&apos;m <span class="text-primary font-semibold text-lg md:text-xl">Corbin Murray</span>. I am a <span
					class="font-bold">software engineer</span
				> who loves turning big ideas into practical, working solutions.
			</p>
			<p>
				Welcome to my small slice of the internet, where I share the projects I&apos;ve built, the things I&apos;ve learned, and the occasional wild experiment.
				Like any good garden, it&apos;s a work in progress — growing, evolving, and sometimes sprouting unexpected ideas. Take a look around, and maybe
				you&apos;ll find something inspiring — or at least worth chatting about!
			</p>
		</article>

		<ChevronDown className="mx-auto h-8 animate-bounce mt-20 lg:mt-40" />
	</RevealSection>

	<RevealSection client:visible id="about" className="my-36 md:my-72 scroll-m-24">
		<SectionHeader client:visible title="About me" />

		<article>
			<p>
				Time to dig into the good stuff — as a software engineer passionate about creating innovative solutions and tackling complex challenges. My professional
				interests include backend development, event-driven architecture, and building systems that are both scalable and efficient. I thrive in collaborative
				environments where creativity meets purpose, and I love working with modern tech stacks to bring ideas to life.
			</p>
		</article>

		<article>
			<p>
				When I&apos;m not coding, you&apos;ll often find me spending time with my wife and our two dogs, Pretzel and Ink. I&apos;m also a huge fan of
				weightlifting, soccer, and the occasional DIY project. Whether it&apos;s exploring local coffee shops, getting lost in nature, or diving into a good
				video game, I try to find balance between my professional and personal passions.
			</p>
		</article>

		<article>
			<p>
				This site is a reflection of all those facets — my love for software development, my curiosity for learning, and the things that make life fun along the
				way.
			</p>
		</article>
	</RevealSection>

	<RevealSection client:visible id="experience" className="mt-36 md:mt-72 scroll-m-24">
		<SectionHeader client:visible title="My work experience" />
	</RevealSection>

	{
		experiences.map((experience, i) => {
			return (
				<RevealSection client:visible key={i}>
					<article class="flex flex-col gap-y-3 mb-16 border-b">
						<div class="flex justify-start items-baseline">
							<h3 class="m-0">{experience.companyName}</h3>
							<h3 class="italic text-sm ms-10">{experience.dateRange}</h3>
						</div>

						<div>
							<span class="text-primary font-semibold text-md">{experience.positionTitle}</span>
						</div>

						{experience.descriptions.map((description, ii) => {
							return <p class="m-0">{description}</p>;
						})}

						<ul class="list-none p-0 m-0 flex flex-row flex-wrap">
							{experience.skills.map((skill, ii) => {
								return (
									<li class="text-nowrap">
										<Badge variant="accent">{skill}</Badge>
									</li>
								);
							})}
						</ul>
					</article>
				</RevealSection>
			);
		})
	}

	<RevealSection client:visible id="projects" className="my-36 md:my-72 scroll-m-24">
		<SectionHeader client:visible title="Projects I've worked on" />

		<ul class="flex flex-col gap-8 xl:flex-row">
			{
				projects
					.sort((a, b) => (a.title < b.title ? -1 : 1))
					.map((project, i) => {
						return (
							<RevealSection client:visible>
								<li>
									<Card client:visible className="shadow max-w-prose">
										<CardHeader>
											<CardTitle>
												<Link href={project.liveSiteLink} variant="external" className="text-secondary text-lg md:text-xl lg:text-2xl">
													{project.title}
												</Link>
											</CardTitle>
										</CardHeader>
										<CardContent>
											<article>
												<p>{project.description}</p>
											</article>
										</CardContent>
										<CardFooter className="gap-6">
											<a href={project.githubLink}>
												<Github className="hover:text-secondary hover:cursor-pointer" />
											</a>
										</CardFooter>
									</Card>
								</li> 
							</RevealSection>
						);
					})
			}
		</ul>
	</RevealSection>

	<RevealSection client:visible id="contact" className="my-36 md:my-72 scroll-m-24">
		<SectionHeader client:visible title="Contact Me" />

		<article>
			<p>
				I&apos;d love to hear from you! Whether you want to collaborate on a project, discuss software development, or just say hello, feel free to reach out
				using one of the options below.
			</p>
		</article>

		<SocialLinks orientation="horizontal" className="mt-16 md:gap-12" />
	</RevealSection>
</PageLayout>
